<div class="panel panel-default panel-table table-wrapper">
    <div class="panel-heading">
        <div class="row">
            <div class="col col-xs-6">
                <h4 class="panel-title">Total Student List <span class="badge badge-pill badge-success"> {{students.length}} </span></h4>
            </div>
            <div class="col col-xs-6 text-right">
                <button type="button" class="btn btn-sm btn-primary btn-create" (click)="router.navigateByUrl('/form');">Create New</button>
            </div>
        </div>
    </div>

    <table class="table  table-sm  table-bordered table-hover ">
        <thead class="thead-inverse ">
            <tr>
                <th class="text-center">ID</th>
                <th class="pointer" (click)="sort('name')">
                    NAME
                    <i class="fa" [ngClass]="{'fa-sort': column != 'name', 
                        'fa-sort-asc': (column == 'name' && !isDesc), 
                        'fa-sort-desc': (column == 'name' && isDesc) }" aria-hidden="true"> </i>

                </th>
                <th class="text-center pointer" (click)="sort('english')">ENGLISH
                    <i class="fa" [ngClass]="{'fa-sort': column != 'english', 
                        'fa-sort-asc': (column == 'english' && !isDesc), 
                        'fa-sort-desc': (column == 'english' && isDesc) }" aria-hidden="true"> </i>
                </th>
                <th class="text-center pointer" (click)="sort('math')">
                    MATH
                    <i class="fa" [ngClass]="{'fa-sort': column != 'math', 
                        'fa-sort-asc': (column == 'math' && !isDesc), 
                        'fa-sort-desc': (column == 'math' && isDesc) }" aria-hidden="true"> </i>
                </th>

                <th class="text-center pointer" (click)="sort('hindi')">
                    HINDI
                    <i class="fa" [ngClass]="{'fa-sort': column != 'hindi', 
                        'fa-sort-asc': (column == 'hindi' && !isDesc), 
                        'fa-sort-desc': (column == 'hindi' && isDesc) }" aria-hidden="true"> </i>
                </th>

                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students | sortinglist: {property: column, direction: direction}; let i = index;">
                <!-- | sortinglist: {property: column, direction: direction} -->
                <th class="text-center">{{i}}</th>
                <th>{{student.name}}</th>
                <td class="text-center">{{student.english}}</td>
                <td class="text-center">{{student.math}}</td>
                <td class="text-center">{{student.hindi}}</td>
                <td class="text-center">

                    <label class="custom-control custom-radio text-center">
                        <input name="optionsRadios" type="radio" class="custom-control-input" value="i" (change)="createChart($event, i)" [checked]=" i ===0">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description"></span>
                    </label>



                </td>
                <td class="text-center" (click)="deleteRecord(i)"><i class="fa fa-trash fa-lg "></i> </td>
                <td class="text-center" (click)="editRecord(i)"><i class="fa fa-pencil fa-lg "></i> </td>
            </tr>
        </tbody>
    </table>
</div>