<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th class="pointer" (click)="sort('name')">
                Name
                <i class="fa" [ngClass]="{'fa-sort': column != 'name', 
                        'fa-sort-asc': (column == 'name' && !isDesc), 
                        'fa-sort-desc': (column == 'name' && isDesc) }" aria-hidden="true"> </i>

            </th>
            <th class="pointer" (click)="sort('height')">Height
                <i class="fa" [ngClass]="{'fa-sort': column != 'height', 
                        'fa-sort-asc': (column == 'height' && !isDesc), 
                        'fa-sort-desc': (column == 'height' && isDesc) }" aria-hidden="true"> </i>
            </th>
            <th class="pointer" (click)="sort('weight')">
                Weight
                <i class="fa" [ngClass]="{'fa-sort': column != 'weight', 
                        'fa-sort-asc': (column == 'weight' && !isDesc), 
                        'fa-sort-desc': (column == 'weight' && isDesc) }" aria-hidden="true"> </i>
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students | sortinglist: {property: column, direction: direction}; let i = index">
            <!-- | sortinglist: {property: column, direction: direction} -->
            <td>{{i}}</td>
            <th scope="row ">{{student.name}}</th>
            <td>{{student.height}}</td>
            <td>{{student.weight}}</td>
            <td class="block "><i class="fa fa-pencil fa-lg "></i> </td>
            <td class="block" (click)="deleteReord(i)"><i class="fa fa-trash fa-lg "></i> </td>
        </tr>
    </tbody>
</table>