<form novalidate #studentform="ngForm" (ngSubmit)="postForm(studentform.value)">
    <div class="form-group">
        <label for="formGroupExampleInput">Enter Name</label>
        <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="student.name" required>
        <p *ngIf="name.invalid && name.dirty"> user name is manidatory</p>
    </div>

    <div class="form-group">
        <label for="formGroupExampleInput2">Enter Height</label>
        <input type="text" class="form-control" name="height" minlength="2" maxlength="3" #height="ngModel" [(ngModel)]="student.height" required>

    </div>
    <div class="form-group">
        <label for="formGroupExampleInput3">Enter Weight</label>
        <input type="text" class="form-control" name="Weight" #weight="ngModel" [(ngModel)]="student.weight">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>