<!--<div>
    <input id="address" type="textbox" value="Sydney, NSW">
    <input id="submit" type="button" value="Geocode">
</div> -->
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styleArray">
    <!-- <agm-marker *ngFor="let m of markers" [latitude]="m.lat" [longitude]="m.lng"></agm-marker> -->
    <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.city, i)" [latitude]="m.lat" [longitude]="m.lng" [label]="" [iconUrl]="'../../../assets/images/orangePointer.png'">
        <agm-info-window>
            <strong>{{m.city}}</strong>
        </agm-info-window>

    </agm-marker>
</agm-map>