<div class="row">
    <div class="col-lg-12 pull-right">
        <div class="input-group">
            <input type="text" class="form-control locationTxt" placeholder="Search Location" [(ngModel)]="location">
            <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="findLocation($event)">Go!</button>
      </span>
        </div>
    </div>
</div>



<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styleArray">
    <!-- <agm-marker *ngFor="let m of markers" [latitude]="m.lat" [longitude]="m.lng"></agm-marker> -->
    <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.city, i)" [latitude]="m.lat" [longitude]="m.lng" [label]="" [iconUrl]="'../../../assets/images/orangePointer.png'">
        <agm-info-window>
            <strong>{{m.city}}</strong>
        </agm-info-window>

    </agm-marker>
</agm-map>