<div class="puzzleContainer">
    <section *ngIf="startGamePopup">
        <div class="modal-backdrop fade show"></div>
        <div class="startGame modal fade show ">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center mt-1">
                        <h4>Please Select Level Of Zigsaw Puzzles</h4>
                        <div class="btn-group my-3">
                            <button type="button" class="btn btn-primary" (click)="startGame('easy');">Easy</button>
                            <button type="button" class="btn btn-secondary" (click)="startGame('medium');">Medium</button>
                            <button type="button" class="btn btn-danger" (click)="startGame('hard');">Hard</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center">
        <button type="button" class="btn btn-primary">Reload</button>
        <button type="button" class="btn btn-primary">Grid</button>
        <button type="button" class="btn btn-primary">Hint</button>
        <button type="button" class="btn btn-primary">Show Hide Timer</button>
        <span id="timerGame"><span class="spanTxt"> 00:00 </span></span>
    </div>

    <div>

        <div *ngFor="let col of colArr">
            <div *ngFor="let row of rowArr">
                <div style="border:1px solid #cecece;" [style.width.px]="columnWidth" [style.height.px]="columnHeigh">
                    {{col}}_{{row}}
                </div>
            </div>
        </div>


    </div>


    <div id="arayGigswaPuzzle">
        <img class="sourceImg" #sourceImg [src]="imgPath">
    </div>
</div>