<div class="puzzleContainer">
    <section *ngIf="startGamePopup">
        <div class="modal-backdrop fade show"></div>
        <div class="startGame modal fade show ">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center mt-1">
                        <h4>Please Select Level Of Zigsaw Puzzles</h4>
                        <div class="btn-group my-3">
                            <button type="button" class="btn btn-primary" (click)="startGame('easy');">Easy</button>
                            <button type="button" class="btn btn-secondary" (click)="startGame('medium');">Medium</button>
                            <button type="button" class="btn btn-danger" (click)="startGame('hard');">Hard</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center">
        <button type="button" class="btn btn-primary">Reload</button>
        <button type="button" class="btn btn-primary">Grid</button>
        <button type="button" class="btn btn-primary">Hint</button>
        <button type="button" class="btn btn-primary">Show Hide Timer</button>
        <span id="timerGame"><span class="spanTxt"> 00:00 </span></span>
    </div>

    <div>



    </div>


    <div id="arayGigswaPuzzle" [style.width.px]="widthDragArea" [style.height.px]="heightDragArea">
        <img class="sourceImg" #sourceImg [src]="imgPath">
        <div class="jigswaPuzzle" [style.width.px]="imageWidth">
            <ng-container *ngFor="let col of colArr">
                <ng-container *ngFor="let row of rowArr">
                    <div class="column dropzone" style="border:1px solid #cecece;" [style.width.px]="columnWidth" [style.height.px]="columnHeigh" [style.left.px]="row*columnWidth" [style.top.px]="col*columnHeigh" [attr.data-cr]="col +'_'+ row">
                        {{col}}_{{row}}
                    </div>
                </ng-container>
            </ng-container>



            <ng-container *ngFor="let col of colArr; let last = last;let first = first;let index = index">
                <ng-container *ngFor="let row of rowArr">
                    <div class="column draggable" style="border:1px solid #cecece;" [style.width.px]="columnWidth" [style.height.px]="columnHeigh" [style.left.px]="row*columnWidth" [style.top.px]="col*columnHeigh" [ngStyle]="{'background-image':'url(' + imgPath + ')', 'background-position': -1*row*columnWidth +'px' +' ' + -1*col*columnHeigh +'px' }" [attr.data-cr]="col +'_'+ row">
                        drag {{col}}_{{row}}
                    </div>
                </ng-container>
            </ng-container>



        </div>
    </div>
</div>