<div class="row">

    <nav class=" col-md-2 bg-faded sidebar">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="nav-link" [routerLink]="['subtab1']" routerLinkActive="active">Google Map</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['subtab4']" routerLinkActive="active">Youtube Player</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['subtab2']" routerLinkActive="active">Custom Directive </a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['subtab3']" routerLinkActive="active">Custom Pipe</a></li>

        </ul>

        <div id="slideshow">
            <img src="../assets/images/logo-1.png" alt="" />
            <img src="../assets/images/logo-2.png" alt="" />
            <img src="../assets/images/logo-3.png" alt="" />
            <img src="../assets/images/logo-4.png" alt="" />
            <img src="../assets/images/logo-5.png" alt="" />
            <img src="../assets/images/logo-6.png" alt="" />
        </div>
    </nav>

    <div class="col-md-10 offset-md-2 home-container">
        <div class="jumbotron">
            <h1>Welcome to my angular two demo project</h1>
            <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
            <button type="button" class="btn btn-primary" (click)="navigateFormPage();"><i class="fa fa-plus"></i> Navigate to Form Page</button>


            <div class="btn-group">
                <button type="button" class="btn btn-danger ropdown-toggle dropdown-toggle-split" data-toggle="dropdown">{{selectListVal}}</button>
                <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <span *ngFor="let list of dropeDownList" class="dropdown-item" (click)="selectListVal = list.val">{{list.val}} <div class="dropdown-divider"></div></span>


                </div>
            </div>

            <my-datepicker></my-datepicker>

        </div>



        <!-- sub tab containt loading div --->

        <div class="tab-content">
            <div class="tab-pane active" [ngClass]="{'text-center': currentTab == '/home/subtab4'}">
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- --->

    </div>

</div>