.home-container {
    margin-top: 15px;
}

.sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 0;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
}

.sidebar .nav {
    margin-top: 51px;
}

.bg-faded {
    background-color: #f7f7f7;
}