.videoWrapperOuter {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

#slideshow img,
#slideshow_1 img {
    display: none;
    position: absolute;
}

#slideshow_1 img {
    left: 300px;
}